node_modules
.idea
.editorconfig
.vscode
.env
cache
**/foundry/out/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# silo-foundry-utils cli binary
/silo-foundry-utils
deployments/anvil
deployments/localhost
deployments/31337
**/deployments/localhost
**/deployments/anvil
**/deployments/31337

**/build/
**/artifacts/

.env*
.DS_Store

common/addresses/anvil.json

coverage
!coverage/silo-core.txt
!coverage/silo-oracles.txt
lcov.info

# echidna
corpus/
crytic-export/

# certora
.certora_internal
certora/harness/vaults/contracts

silo-core/deploy/input/_importFromCsv/
!silo-core/deploy/input/_importFromCsv/marketImport.py

**/broadcast/
**/broadcast/*
!silo-core/broadcast/SiloDeployerDeploy.s.sol/**/run-latest.json
